fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
celery
redis
langgraph
langchain
langchain-openai
python-multipart
# Fix for passlib/bcrypt compatibility issue
passlib
bcrypt==4.0.1
# Vector DB and others
chromadb
python-dotenv
httpx
pydantic-settings
python-jose[cryptography]